/*body {*/
    /*background-color: dodgerblue;*/
/*}*/
/*.content {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*align-items: center;*/
/*}*/
/*.login-form {*/
    /*display: flex;*/
    /*background-color: white;*/
    /*height: 600px;*/
    /*width: 500px;*/
/*}*/
.login-header {
    color: dodgerblue;
    font-size: 3em;
    text-align: center;
    width: 100%;
}
